<section>
  <div class="max-container info">
    <img
      class="me"
      ngSrc="../../../assets/img/allanlobo.jpg"
      width="200"
      height="200"
      priority
      alt="Allan Lobo"
      title="Allan Lobo"
    />

    <div class="texts">
      <h1>Olá, eu sou o Allan Lobo</h1>
      <p>
        Desenvolvedor, especialista em Frontend com Angular, presto serviços de
        desenvolvimento para sua empresa e compartilho meus conhecimentos em meu
        blog
      </p>
    </div>
  </div>
</section>
