@import "../src/styles/main.scss";

html,
body {
  margin: 0;
  padding: 0;
  background-color: $black;
  color: #fff;

  * {
    font-family: "Montserrat", sans-serif;
  }
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  color: inherit;
}

.max-container {
  max-width: 975px;
  margin: 0 auto;
  padding: $default-web-padding;
  box-sizing: border-box;

  @media screen and (max-width: 600px) {
    padding: $default-mobile-padding;
  }
}

.al-button {
  cursor: pointer;
  text-transform: uppercase;
  padding: 12px;
  min-width: 140px;
  border: none;
  border-radius: 8px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: $primary;
  text-decoration: none;
  font-weight: 600;

  @include hover-box-shadow;
}

a {
  text-decoration: none;
}
